{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="with=device-width, initial scale=1.0">
    <title> HoMe ExpeDiTioNer </title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <section class="subheader1">
        <h1>WELCOME TO OUR WEBSITE</h1>
        <a href="index/" class="hero-btn1">Press here to start</a>
    </section>
</body>
</html>